<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="img/welcome-banner.png">
      </div>
    </div>
    <div class="padding card">
      <h1 class="positive">Welcome</h1>
      <p class="grey-text"> Welcome the the North Star 2017 Conference. The purpose of this mobile app is to help you determine the sessions you wish to attend and to plan your schedule accordingly. We encourage you to leave feedback about sessions and to use our question service if you feel you want to ask a question or share a comment during a session but don’t wish to raise your hand. We are excited you have chosen to attend and hope that you will have a spiritually uplifting experience.</p>
    </div>
    <div class="list card padding">
      <ion-list>
        <ion-item class="item-divider-ios positive">
          Friday
        </ion-item>
        <ion-item class="greyText">Keynote 1 <span class="positive">|</span> 9:00-10:00 AM </ion-item>
        <ion-item class="greyText">Breakout 1 <span class="positive">|</span> 10:00-11:00 AM</ion-item>
        <ion-item class="greyText">Breakout 2 <span class="positive">|</span> 12:00-1:00 PM</ion-item>
        <ion-item class="item-divider-ios positive">
          Saturday
        </ion-item>
        <ion-item class="greyText">Keynote 1 <span class="positive">|</span> 9:00-10:00 AM </ion-item>
        <ion-item class="greyText">Breakout 1 <span class="positive">|</span> 10:00-11:00 AM</ion-item>
        <ion-item class="greyText">Breakout 2 <span class="positive">|</span> 12:00-1:00 PM</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
