<ion-view view-title="Welcome">
  <ion-content class="padding">
    <ion-list>
      <div class="list card">
        <div class="item item-image">
          <img src="img/welcome-banner.png">
        </div>
      </div>
      <div class="padding card">

        <h1 class="positive">Welcome</h1>
        <p class="grey-text">We hope your experience will be uplifting and encouraging at this years conference <span style="font-style: italic; color: black; font-weight: 500;">In Our Father's Hands.</span>. </p>
        <p class="grey-text">This app will help you find information about each breakout session, remind you of events happening during the conference, and provide a way to give feedback regarding each session you attend.</p>
        <p class="grey-text">We're so glad that you have joined us for this year's conference and we invite you to utilize this app to maximize your experience here. <span style="font-weight:bold">Please make sure you have allowed notifications for this app or you will miss out on important announcements.</span> </p>
        <!-- <h1 class="positive">Welcome</h1>
        <p class="grey-text"> Welcome to the 2018 North Star Conference - In Our Father's Hands. We hope your experience at the conference will be uplifting and encouraging and that you will walk away renewed and strengthened.</p>
        <p class="grey-text">The purpose of this mobile app is to provide you with helpful information in determining which breakout sessions to attend, to remind you of current events going on at the conference and to provide a place for you to give feedback in regards to each session that you attend. We encourage you to utilize this app to best maximize your experience at this year's North Star Conference and are so glad you are here.</p> -->

      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Thursday - March 15, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Temple Session - Optional
            <span class="positive"></span> 1:00 - 3:00 PM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">First Timers Session
            <span class="positive"></span> 5:00 - 6:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 6:00 - 7:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Opening Social
            <span class="positive"></span> 6:00 - 8:00 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Friday - March 16, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Registration & Breakfast
            <span class="positive"></span> 7:30 - 9:00 AM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 1
            <span class="positive"></span> 9:00 - 10:30 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 1
            <span class="positive"></span> 10:45 - 12:15 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Lunch
            <span class="positive"></span> 12:30 - 1:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 2
            <span class="positive"></span> 1:45 - 2:45 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 3
            <span class="positive"></span> 3:00 - 4:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 2
            <span class="positive"></span> 4:15 - 5:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 6:00 - 7:00 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Saturday - March 17, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 7:30 AM - 8:00 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Registration
            <span class="positive"></span> 7:30 - 9:00 AM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 3
            <span class="positive"></span> 9:00 - 10:15 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 4
            <span class="positive"></span> 10:30 - 12:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Lunch
            <span class="positive"></span> 12:15 - 1:15 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 5
            <span class="positive"></span> 1:30 - 2:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 6
            <span class="positive"></span> 2:45 - 3:45 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 4
            <span class="positive"></span> 4:00 - 5:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">David Archuleta
            <span class="positive"></span> 5:00 - 6:00 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Sunday - March 18, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Sharing Session
            <span class="positive"></span> 1:00 - 3:00 PM</ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
