<ion-view view-title="Welcome">
  <ion-content class="padding">
    <ion-list>
      <div class="list card">
        <div class="item item-image">
          <img src="img/welcome-banner.png">
        </div>
      </div>
      <div class="padding card">
        <h1 class="positive">Welcome</h1>
        <p class="grey-text"> Welcome the the North Star 2017 Conference. The purpose of this mobile app is to help you determine the sessions
          you wish to attend and to plan your schedule accordingly. We encourage you to leave feedback about sessions and
          to use our question service if you feel you want to ask a question or share a comment during a session but don’t
          wish to raise your hand. We are excited you have chosen to attend and hope that you will have a spiritually uplifting
          experience.</p>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Thursday - March 15, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Temple Session - Optional
            <span class="positive"></span> 2:30 - 4:30 PM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">First Timers Session
            <span class="positive"></span> 5:00 - 6:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 6:00 - 8:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Opening Social
            <span class="positive"></span> 6:00 - 8:00 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Friday - March 16, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Registration | Breakfast
            <span class="positive"></span> 7:30 - 9:00 AM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 1
            <span class="positive"></span> 9:00 - 10:30 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 1
            <span class="positive"></span> 10:45 - 12:15 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Lunch
            <span class="positive"></span> 12:30 - 1:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 2
            <span class="positive"></span> 1:45 - 2:45 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 3
            <span class="positive"></span> 3:00 - 4:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 2
            <span class="positive"></span> 4:15 - 5:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 5:45 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Saturday - March 17, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Choir Practice
            <span class="positive"></span> 7:30 - 8:00</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Registration | Breakfast
            <span class="positive"></span> 7:30 - 9:00 AM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 1
            <span class="positive"></span> 9:00 - 10:30 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 1
            <span class="positive"></span> 10:45 - 12:15 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Lunch
            <span class="positive"></span> 12:30 - 1:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 2
            <span class="positive"></span> 1:45 - 2:45 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 3
            <span class="positive"></span> 3:00 - 4:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 2
            <span class="positive"></span> 4:15 - 5:30 PM</ion-item>
        </div>
      </div>
      <div class="list card">
        <div class="space-between item item-divider-ios positive">
          <span>Sunday - March 18, 2018</span>
        </div>
        <div class="padding">
          <ion-item class="greyText schedule-item item-text-wrap">Registration
            <span class="positive"></span> 7:30 - 9:00 AM </ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 3
            <span class="positive"></span> 9:00 - 10:30 AM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 4
            <span class="positive"></span> 10:45 - 12:15 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Lunch
            <span class="positive"></span> 12:30 - 1:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 5
            <span class="positive"></span> 1:45 - 2:45 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Breakout 6
            <span class="positive"></span> 3:00 - 4:00 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">Keynote 4
            <span class="positive"></span> 4:15 - 5:30 PM</ion-item>
          <ion-item class="greyText schedule-item item-text-wrap">David Archuleta
            <span class="positive"></span> 5:30 - 6:30 PM</ion-item>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
