<ion-view view-title="Mentors">
  <ion-content class="has-header" delegate-handle="stickyScroll">
    <ion-list>
      <div id="search-bar">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" id="search-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="searchText">
          </label>
        </div>
        <div class="container spinner" ng-if="loading"><ion-spinner icon="android"></ion-spinner></div>

        <div class="item positive item-divider-ios" ng-repeat-start="mappedMentor in mappedMentors | orderBy: 'demographic'">
          {{mappedMentor.demographic}}
          <ion-nav-view name="other-tab"></ion-nav-view>
        </div>
        <div class="item item-text-wrap item-icon-right" ng-repeat="mentor in mappedMentor.mentors | orderBy: 'name' | filter: searchText"
             ui-sref='tab.mentor-detail({id:mentor.id})'>
          <h2 class="grey-text">{{mentor.name}}</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <div ng-repeat-end></div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
