<ion-view view-title="Notifications">
  <ion-nav-buttons side="right" ng-show="false">
    <button class="button button-icon" ng-click="clearNotifications()">
      Clear
    </button>
  </ion-nav-buttons>
  <ion-content class="has-header" delegate-handle="stickyScroll">
    <ion-list type="list">
      <!-- <div class="list" > -->
        <ion-item class="card notification" ng-repeat="notification in notifications | orderBy: '-fullDate'">
          <div style="margin-right: -33px">
            <div class="notification-header">
              <h2>{{notification.title}}</h2>
              <h3 class="grey-text">
                <span>{{notification.timeString}}</span>
              </h3>
            </div>
            <p>{{notification.body}}</p>
            <!-- <p>{{notification.id}}</p> -->
            <ion-option-button class="button-assertive icon ion-android-delete" ng-click="close(notification.id)" style="min-width:100px">
            </ion-option-button>
          </div>
        </ion-item>
      <!-- </div> -->
    </ion-list>
  </ion-content>
</ion-view>