<ion-pane>
    <ion-view view-title="Other" cache-view="false" scroll="false">

        <section class = "home-container">

            <div class = "row header">

                <!--<div class = "col text-center">-->
                    <!--[LOGO / HEADER]-->
                <!--</div>-->

            </div>


            <div class = "row icon-row">

                <div class = "col text-center">
                    <a href="#" onclick="window.open('https://www.eventbrite.com/e/2017-north-star-international-conference-tickets-23819363357?aff=es2', '_blank', 'location=no'); return false;">
                    <button class = "button button-large button-positive"><i class="icon ion-ios-cart-outline"></i></button>
                    </a>
                    <div class="positive">Purchase Audio</div>
                </div>


                <div class = "col text-center">
                    <button class = "button button-large button-positive" ui-sref="tab.session-questions"><i class="icon ion-mic-b"></i></button>
                    <div class="positive">Ask A Question</div>
                </div>

            </div>


            <div class = "row icon-row">

                <div class = "col text-center">
                    <a href="#" onclick="window.open('http://conference.northstarlds.org', '_blank', 'location=no'); return false;">
                    <button class = "button button-large button-positive"><i class="icon ion-compass"></i></button>
                    </a>
                    <div class="positive">Website</div>
                </div>


                <div class = "col text-center">
                    <button class = "button button-large button-positive" ng-click="openModal()"><i class="icon ion-ios-navigate-outline" ></i></button>
                    <div class="positive">Map</div>
                </div>

            </div>


            <!--<div class = "row icon-row">-->

                <!--<div class = "col text-center">-->
                    <!--<button class = "button button-positive">Icon</button>-->
                    <!--Title-->
                <!--</div>-->


                <!--<div class = "col text-center">-->
                    <!--<button class = "button button-positive">Icon</button>-->
                    <!--Title-->
                <!--</div>-->

            <!--</div>-->

        </section>

    </ion-view>
</ion-pane>