<ion-pane>
    <ion-view view-title="Other" scroll="false">

        <section class = "home-container">

            <div class = "row header">

                <!--<div class = "col text-center">-->
                    <!--[LOGO / HEADER]-->
                <!--</div>-->

            </div>


            <div class = "row icon-row">

                <div class = "col text-center">
                    <button class = "button button-large button-positive"><i class="icon ion-ios-cart-outline"></i></button>
                    <div class="positive">Purchase Audio</div>
                </div>


                <div class = "col text-center">
                    <button class = "button button-large button-positive"><i class="icon ion-mic-b"></i></button>
                    <div class="positive">Comments</div>
                </div>

            </div>


            <div class = "row icon-row">

                <div class = "col text-center">
                    <button class = "button button-large button-positive"><i class="icon ion-compass"></i></button>
                    <div class="positive">Website</div>
                </div>


                <div class = "col text-center">
                    <button class = "button button-large button-positive"><i class="icon ion-ios-navigate-outline"></i></button>
                    <div class="positive">Map</div>
                </div>

            </div>


            <!--<div class = "row icon-row">-->

                <!--<div class = "col text-center">-->
                    <!--<button class = "button button-positive">Icon</button>-->
                    <!--Title-->
                <!--</div>-->


                <!--<div class = "col text-center">-->
                    <!--<button class = "button button-positive">Icon</button>-->
                    <!--Title-->
                <!--</div>-->

            <!--</div>-->

        </section>

    </ion-view>
</ion-pane>