<ion-pane>
  <ion-view view-title="Other" cache-view="false" scroll="false">

    <section class="home-container">

      <div class="row header">

      </div>

      <div class="row icon-row">

        <div class="col text-center">
          <a href="#"
             onclick="window.open('http://conference.northstarlds.org/conference-audio/', '_system', 'location=no'); return false;">
            <button class="button button-large button-positive"><i class="icon ion-ios-musical-notes"></i></button>
          </a>
          <div class="positive">Conference Audio</div>
        </div>

        <div class="col text-center">
          <a href="#"
             onclick="window.open('http://northstarlds.org/donate/', '_system', 'location=no'); return false;">
            <button class="button button-large button-positive"><i class="icon ion-social-usd"></i></button>
          </a>
          <div class="positive">Donate</div>
        </div>


      </div>


      <div class="row icon-row">


        <div class="col text-center">
          <button class="button button-large button-positive" ui-sref="tab.session-questions"><i
            class="icon ion-mic-b"></i></button>
          <div class="positive">Ask A Question</div>
        </div>


        <div class="col text-center">
          <button class="button button-large button-positive" ui-sref="tab.mentors"><i
            class="icon ion-ios-person"></i></button>
          <div class="positive">Find A mentor</div>
        </div>

      </div>


      <div class="row icon-row">

        <div class="col text-center">
          <a href="#"
             onclick="window.open('http://conference.northstarlds.org', '_system', 'location=no'); return false;">
            <button class="button button-large button-positive"><i class="icon ion-compass"></i></button>
          </a>
          <div class="positive">Website</div>
        </div>


        <div class="col text-center">
          <button class="button button-large button-positive" ng-click="openModal()"><i
            class="icon ion-ios-navigate-outline"></i></button>
          <div class="positive">Map</div>
        </div>

      </div>


    </section>

  </ion-view>
</ion-pane>
