<ion-view view-title="Provide Feedback">
  <ion-content>
    <div class="list card">
      <div class="padding">
        <h3 class="positive" style="font-weight: bold">{{session.title}}</h3>
        <h4 class="grey-text" style="font-weight: bold">{{session.speakername}}</h4>
        <!-- </div>
    </div>
    <div class="list card">
      <div class="padding"> -->
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">What is your name?</span>
          <input type="text" placeholder="Full Name" ng-model="session.userName">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">What is your email?</span>
          <input type="text" placeholder="Email" ng-model="session.userEmail">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">How would you rate this session?</span>
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                1-5
              </div>
              <select class="form-control" ng-model="session.rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </label>
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">What did you like?</span>
          <textarea placeholder="I really liked..." ng-model="session.likeFeedback"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">What could we have done better?</span>
          <textarea placeholder="I feel that..." ng-model="session.dislikeFeedback"></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="positive input-label">Any other comments?</span>
          <textarea placeholder="I wish that..." ng-model="session.generalFeedback"></textarea>
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive button-outline" ng-click="submitReview(session)" ui-sref="tab.sessions">Submit
      </button>
    </div>


  </ion-content>
</ion-view>