<ion-view view-title="My Schedule">
  <ion-content class="has-header">
    <ion-list>
      <div class=" text-center" style="margin-top: 10px;">
        <button ng-click="sendSms()" class="button button-positive button-clear">
          <i class="icon ion-ios-upload-outline"></i>
        </button>
        <div class="positive" style="font-size: 10px;">Share With Friends</div>
      </div>
      <ion-item class="card padding" ng-repeat="session in scheduledSessions | orderBy: 'sessionOrder'">
        <div class="item-text-wrap icon-right session-list-item schedule-list-item">
          <div class="session-tile-info">
            <h2 class="positive" ui-sref='tab.schedule-session-detail({id:session.id})'>{{session.title}}</h2>
            <h3 class="grey-text-italic session-detail-speaker" ui-sref='tab.schedule-session-detail({id:session.id})'>{{session.speakername}}</h3>
            <h4 class="session-detail-speaker" ui-sref='tab.schedule-session-detail({id:session.id})'>{{session.sessionDay.toUpperCase()}} - {{session.sessiontime}}</h4>
            <h4 class="grey-text-session grey-text-italic">
               {{session.room}}
            </h4>
          </div>
          <div class="schedule-button-container" style="display: flex; flex-direction: column; justify-content: space-around" >
            <button ng-if="session.sessiontype.replace('keynote ', '').length > 2" class="trash-button button button-clear" ng-click="removeFromSchedule({id:session.id})">
              <i class="positive icon ion-ios-trash-outline"></i>
            </button>
            <!-- <div class="trash-button button button-clear" ng-if="session.sessiontype.replace('keynote ', '').length <= 2" ></div> -->
            <div class="trash-button button button-clear" ui-sref="tab.schedule-rateSession({id:session.id})">
              <i class="positive icon ion-ios-mic"></i>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
