<ion-view view-title="My Schedule">
  <ion-content class="has-header">

    <div class="text-center">
      <button ng-click="sendSms()"><i class=" button button-small icon ion-ios-upload-outline"></i></button>
    </div>

    <ion-list>
      <ion-item class="padding-top item-text-wrap card icon-right" ng-repeat="session in scheduledSessions | orderBy: 'sessiontype'">
          <h2 class="positive">{{session.title}}</h2>
          <h3 class="grey-text-italic">{{session.speaker}}</h3>
          <h6 class="grey-text-session">{{session.sessiontype}}</h6>
          <div class="buttons text-right">
            <i class="positive icon ion-trash-b icon-accessory" ng-click="removeFromSchedule({id:session.id})"></i>
            <i class="padding-left positive icon ion-ios-arrow-thin-right" ui-sref='tab.session-detail({id:session.id})'></i>
          </div>

        <ion-nav-view name="singleSession-tab"></ion-nav-view>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
