<ion-tabs class=" tabs-positive tabs-icon-top">

  <ion-tab title="Home" icon="ion-ios-home-outline" ui-sref="tab.home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sessions" icon="ion-ios-book-outline" ui-sref="tab.sessions" ">
    <ion-nav-view name="sessions-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="My Schedule" icon="ion-ios-paper-outline" ui-sref="tab.schedule">
    <ion-nav-view name="schedule-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Other" icon="ion-ios-keypad-outline" ui-sref="tab.other">
    <ion-nav-view name="other-tab"></ion-nav-view>
  </ion-tab>


</ion-tabs>
